html,body{
    margin: 0 auto;
  
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
/*Personnalisation navbar*/
nav{
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.navbar-default{
    background-color:#292929;
    border-color: #4E4E4E;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-header{
    background-color: #292929;
    border-radius: 25px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4E4E4E;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    line-height: 25px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #6F6F6F;
    background-color: whitesmoke;
    transition: all 0.4s ease-in;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #6F6F6F;
    background-color: whitesmoke;
    transition: all 0.4s ease-in;
}
.navbar-default .navbar-nav > li > ul > li {
    color: #fff;
}
.navbar-default .navbar-nav > .open > .dropdown-menu > li > a{
    color: #fff;
}
.navbar-default .navbar-nav > .open > .dropdown-menu > li > a:hover{
    color: #6F6F6F;
    background-color: whitesmoke;
    transition: all 0.4s ease-in;
}
.navbar-default .navbar-nav > .open > .dropdown-menu > li > a:focus{
    color: #6F6F6F;
    background-color: whitesmoke;
    transition: all 0.4s ease-in;
}
.dropdown-menu {
    background-color: #292929;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: #6F6F6F;
    transition: all 0.3s ease-in;
}
.navbar-toggle{
    float: left;
    margin-left: 15px;
    border-radius: 0px;
}
/*fin personnalisation*/


/*Carousel*/
.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgb(255, 255, 255) 100%)
}
.carousel-control.left{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgb(255, 255, 255) 100%)
}
/*fin carousel*/
h1{
    text-align: center;
    margin-top: 60px;
}
h3{
    text-align: center;
}
p{
    transition: all 0.15s;
}
p:hover{
    font-weight: 500;
    transform: scale(1.05);
}
.description{
    margin-top: 5%;
    text-align: justify;
}

.desc-planete{
    background-color: rgba(255,255,255,0.45);
    padding: 20px 45px;
    margin-top: 5%;
    position: relative;
    text-align: justify;
    box-shadow: 15px 6px 40px 7px black;
}
@media all and (max-width:1024px){
    .desc-planete{
        margin-top: 10%;
    }
}
@media all and (max-width:600px){
    .desc-planete{
        margin-top: 120%;
    }
}
@media all and (max-width:414px){
    .desc-planete{
        margin-top: 180%;
    }
}
@media all and (max-width:384px){
    .desc-planete{
        margin-top: 200%;
    }
}
@media all and (max-width:375px){
    .desc-planete{
        margin-top: 200%;
    }
}
@media all and (max-width:320px){
    .desc-planete{
        margin-top: 238%;
    }
}
.desc-planete h3{
    border-bottom: 2px solid #ffffff;
}
.desc-planete ul{
    padding-left:0px; 
}
.desc-planete li{
    list-style: none;
}
.desc-planete .active{
    display:block;
}
.desc-planete article{
    display: none;
}